.boxed-view {
	align-items: center;
	background: $boxed-view-overlay-bg;
	display: flex;
	justify-content: center;
	height: 100vh;
	widows: 100vw;
}

.boxed-view__box {
	background: white;
	padding: 2.4rem;
	text-align: center;
	width: 24rem;
}

.boxed-view__form {
	display: flex;
	flex-direction: column;
}

.boxed-view--modal {
	background: fade-out($boxed-view-overlay-bg, 0.2);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}