.button {
	background-color: $button-bg;
	border: none;
	color: $button-color;
	cursor: pointer;
	line-height: 1.2;
	padding: $input-spacing;
	text-transform: uppercase;
	font-size: $base-font-size;
	margin-bottom: $space;
}

.button--link {
	display: inline-block;
	text-decoration: none;
}

.button--pill {
	background-color: transparent;
	border: 1px solid $button-pill-color;
	color: $button-pill-color;
	margin: 0 ($space / 2) 0 0;
	padding: .3rem .8rem;
}

.button--secondary {
	color: #777777;
	border: 1px solid $button-secondary-border-color;
	background: $button-secondary-bg;
}